



.espaco-lado-direito-nav{
    background-color: rgba(255, 255, 255, 0.377);
    width: 100px;
    min-width: 80px;
    height: 35px;
    border-radius: 20px;
    margin-right: 15px;
}

.espaco-lado-direito-nav > a{
    color: rgba(255, 145, 0, 0.87);
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    margin-right: 0px;
    font-family: 'Playfair Display';
}

.espaco-lado-direito-nav:hover{
    background-color: rgb(250, 250, 250);
    transition-duration: 0.3s;
}

@media (max-width: 823px){
    .espaco-lado-direito-nav {
        margin: 0px 15px;
    }
}

.sabado{
    color: #8fceeb;
    font-weight: 800;
    border: 3px solid #FFB7C3;
}

.dia-main{
    text-align: center;
    font-size: 6em;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    color: #FFB7C3;
    text-decoration: underline;
}

@media (max-width:580px) {
    .dia-main{
        font-size: 4em;
    }
}

.obs{
    color: rgba(204, 2, 2, 0.753);
    font-weight: 900;
    margin-top: 15px;
}

.lista-de-cima{
    width: 99.6%;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    border: 3px dashed #f8a556;
    margin: 10px auto 0 auto;
    padding: 5px 0px 0px 0px;
}

.tarefas-diarias{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
}

.item-primeira-lista{
    width: 50%;
    max-width: 500px;
    max-height: 128px;
    padding-right: 25px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #fab06b;
}

.primeira-lista-titulo{
    align-self: center;
    font-family: 'Playfair Display';
    font-style: italic;
    color: #FFB7C3;
    padding-bottom: 20px;
}


ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 430px;
    width: 98.7.8%;
    list-style-position: inside;
    padding-left: 15px;
    margin-bottom: 5px;
    list-style-type: square;
}

@media (max-width: 900px) {
    ul{
        max-height: 900px;
    }

    .lista-de-cima{
        max-height: 900px;
    }

    .tarefas-diarias{
        max-height: 900px;
    }
    
    .item-primeira-lista{
        width: 98%;
    }
}

.div-emcima-do-footer{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 1260px;
    max-height: 600px;
    min-height: 200px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.384);
}

.div-mlam{
    background-color: white;
    margin: 0 -20px 20px -20px;
    padding: 20px;
    padding-bottom: 45%;
    position: relative;
}

.div-mlam > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.footer-pagina-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 4px dashed #FFB7C3;
    max-width: 100%;
    min-width: 400px;
    height: 150px;
    background-color: #BCF4F5;
    text-align: center;
}

.gatinho-footer-left{
    min-width: 98px;
    max-height: 80px;
    min-height: 30px;
}

.footer-pagina-principal > h1{
    font-family: 'Dancing Script';
    font-size: 3.5em;
    color: white;
}

.gatinho-footer-right{
    min-width: 98px;
    max-height: 80px;
    min-height: 30px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
