



.domingo{
    color: #1ece64;
    font-weight: 800;
    border: 3px solid #FFB7C3;
}

.dia-main{
    text-align: center;
    font-size: 4.5em;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    color: #FFB7C3;
    text-decoration: underline;
}

.lista-de-cima{
    width: 99.6%;
    max-height: 850px;
    display: flex;
    flex-direction: row;
    border: 3px dashed #f8a556;
    margin: 10px auto 0 auto;
    padding: 5px 0px 20px 0px;
}

.tarefas-diarias{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 850px;
}

.item-primeira-lista{
    max-width: 500px;
    max-height: 128px;
    padding-right: 25px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #fab06b;
}

.primeira-lista-titulo{
    align-self: center;
    font-family: 'Playfair Display';
    font-style: italic;
    color: #FFB7C3;
    padding-bottom: 20px;
}


ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 850px;
    width: 98%;
    list-style-position: inside;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style-type: square;
    word-break: break-all;
}

.div-emcima-do-footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 450px;
    max-width: 1300px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.384);
}

.div-mlam{
    background-color: white;
    margin: 0 -20px 20px -20px;
    padding: 20px;
    padding-bottom: 45%;
    position: relative;
}

.div-mlam > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.footer-pagina-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 4px dashed #FFB7C3;
    max-width: 100%;
    min-width: 490px;
    height: 150px;
    background-color: #BCF4F5;
    text-align: center;
}

.gatinho-footer-left{
    min-width: 130px;
    max-height: 80px;
    min-height: 30px;
}

.footer-pagina-principal > h1{
    font-family: 'Dancing Script';
    font-size: 4em;
    color: white;
}

.gatinho-footer-right{
    min-width: 130px;
    max-height: 80px;
    min-height: 30px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}